services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: event-reward-api
    ports:
      - "8001:8000"
    volumes:
      - ./:/app
    working_dir: /app
    depends_on:
      - db
    command: ["php", "-S", "0.0.0.0:8000", "-t", "public", "public/index.php"]

  db:
    image: mysql:8.0
    container_name: event-reward-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/mysql/init:/docker-entrypoint-initdb.d

volumes:
  db_data:
